.tabs .tabs-list button {
    flex: 0 0 max-content;
    margin: 0;
    border: 1px solid var(--dark-color);
    border-radius: 0;
    padding: 8px 16px;
    background-color: var(--light-color);
    color: initial;
    font-size: unset;
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: background-color 0.2s;
}

.tabs .tabs-list button[aria-selected="true"] {
    border-bottom: 1px solid var(--background-color);
    background-color: var(--background-color);
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
    background-color: var(--dark-color);
}

.tabs .tabs-panel {
    margin-top: -1px;
    padding: 0 16px;
    border: 1px solid var(--dark-color);
    overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
    display: none;
}

body > main > div.section.vehicle-categories.tabs-container > div > div > div.tabs-list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    margin: 0 11%;
    align-items: center;
    font: 400 1.1rem helvetica-neue-55, 'sans-serif';
    border-bottom: 1px solid #b7bcc2;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}

body > main > div.section.vehicle-categories.tabs-container > div > div > div.tabs-list .tabs-tab {
    min-width: 20%;
    text-align: center;
    border: none;
    color: #5c6163;
    background-color: white;
}

.tabs-tab:hover p {
    color: black;
}

body > main > div.section.vehicle-categories.tabs-container > div > div > div.tabs-list .tabs-tab.active {
    color: black;
    /*border-bottom: 0.2rem solid black;*/
}

body > main > div.section.vehicle-categories.tabs-container {
    margin-top: 0;
    padding-top: 0;
    min-height: 515px;
}

.vehicle-categories .tabs-wrapper {
    max-width: 100%;
    padding: 0;
}

body > main > div.section.vehicle-categories.tabs-container > div > div > .tabs-panel {
    width: 100%;
    border: none;
    max-width: 90%;
    margin: 2% auto;
}

.vehicle-categories .tabs-panel > div {
    display: flex;
    /*gap: 1rem;*/
    justify-content: center;
    column-gap: 5%;
    max-width: 100%;
}

.vehicle-categories .tabs-panel > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 205px;
    transition: opacity 0.3s ease-in-out;
}

.vehicle-categories .tabs-panel > div > div p {
    max-height: 28%;
}

.vehicle-categories .tabs-panel > div > div h4 {
    margin-top: 14%;
    margin-bottom: 0;
    text-align: center;
}

.vehicle-categories .tabs-panel > div > div h4 a {
    color: #1d252c;
    text-align: center;
    font: 650 1.29529rem helvetica-neue-75, 'sans-serif';
    line-height: 26px;
    padding-bottom: .23529rem;
    letter-spacing: 0.02rem;
}

.vehicle-categories .tabs-panel > div > div h5 {
    margin: 0;
    text-align: center;
}

.vehicle-categories .tabs-panel > div > div h5 a {
    text-align: center;
    font: 400 .86353rem helvetica-neue-55, 'sans-serif';
    line-height: 24px;
    color: #5c6163;
    letter-spacing: 0.01rem;
}

.vehicle-categories .tabs-panel > div > div h5 a strong {
    color: #1d252c;
    font: bold .82353rem helvetica-neue-75, 'sans-serif';
}

.vehicle-categories .tabs-panel > div > div h6 {
    margin: 1% 0 0 0;
    text-align: center;
}

.vehicle-categories .tabs-panel > div > div h6 a {
    text-align: center;
    font: 400 .70588rem helvetica-neue-65, 'sans-serif';
    line-height: 17px;
    letter-spacing: 0.01rem;
    border: 1px solid #d2d3d3;
    padding: 0 .29412rem;
    min-width: 7.35294rem;
    width: auto;
    border-radius: 3px;
    display: inline-block;
    color: #1d252c;
}

body > main > div.section.vehicle-categories.tabs-container > div > div {
    animation: scroll-fadein 1s ease 0s 1 forwards;
}

.active-panel {
    animation: scroll-fadein 0.8s ease 0s 1 forwards;
}

@keyframes scroll-fadein {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }

    to {
        opacity: 1
    }
}

.tabs-navigator {
    background: #1d252c;
    position: absolute;
    transition: transform .75s, width .75s;
    z-index: 10;
    border-bottom: 0.2rem solid black;
}


